@font-face {
  font-family: "iconfont"; /* Project id 3628487 */
  src: url('//at.alicdn.com/t/c/font_3628487_ki4p5gyhlsh.woff2?t=1662265008321') format('woff2'),
       url('//at.alicdn.com/t/c/font_3628487_ki4p5gyhlsh.woff?t=1662265008321') format('woff'),
       url('//at.alicdn.com/t/c/font_3628487_ki4p5gyhlsh.ttf?t=1662265008321') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili-fill:before {
  content: "\e75c";
}

